/* CSS Resets*/
body, p, ul {
    margin: unset;
    padding: unset;
}

li {
    list-style-type: none;
}

h1, h2 {
    margin: unset;
    font-size: unset;
    font-weight: unset;
}

/* Typography */
:root {
    font-family: arial;
}

/* Layout */

.l_article-wrapper {
    width: 482px;
}

.oaklab-article {
    width: 960px;
    margin: 100px auto -30px;
    padding: 60px;
}

/* Components */



/* Design */
.oaklab {
    background-image: url(./images/header-bg.png);
    /* display: flow-root; */
    overflow: hidden;
}

.oaklab-article {
    border: 30px solid;
    color: #FFA500;
    background-image: url(./images/container-bg.png);
    background-repeat: no-repeat;
    background-position: right 54px top 54px;
    box-sizing: border-box;
}

.oaklab-article .oaklab-title {
    font-size: 32px;
    letter-spacing: .19em;
    margin-bottom: 34px;
}

.oaklab-article .oaklab-title span {
    font-weight: bold;
}

.oaklab-article .oaklab-title::after {
    content: ' ';
    width: 373px;
    height: 2px;
    background-color: #FFA500;
    display: block;
    border: 1px solid black;
    border-radius: 12px;
}

.oaklab-article .oaklab-text {
    line-height: 1.6;
}

.oaklab-videos {
    background-color: #DDD;
    padding: 30px;
}

.oaklab-videos .videos-list {
    text-align: center; 
}


.oaklab-videos .videos-list .video-card {
    display: inline-block;
    margin-right: 30px;
}

.oaklab-videos .videos-list .video-card:last-child {
    margin-right: unset;
}

.card {
    background-color: #FFF;
    width: 300px;
    height: 280px;
    border-radius: 6px;
    overflow: hidden;
}


.card .video-title {
    font-weight: bold;
    line-height: 1.6;
    color: #FFA500;
    padding: 10px;
    text-align: initial;
    border-top: 4px solid;
    background-image: url(./images/play.png);
    background-repeat: no-repeat;
    background-position: right center;
}

.card .thumbnail{
    vertical-align: bottom;
}

.footer {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #AAA;
    line-height: 1.6;
    letter-spacing: .29em;
    border-top: 2px solid;
    padding: 14.3px;
}

/* Media Query*/
@media (max-width: 960px) {
    .oaklab-article {
        background-image: none;
        width: auto;
    }

    .oaklab-article .l_article-wrapper {
        width: auto;
    }
    
    .oaklab-videos .videos-list .video-card {
        display: block;
        margin: 0 0 30px;
    }

    .card {
        margin: 0 auto;
    }

    .oaklab-videos .videos-list .video-card:last-child {
        margin-bottom: 0;
    }
}

@media (max-width: 560px) {
    .oaklab-article .oaklab-title::after {
        width: 270px;
    }
}